body {
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
tr {
  display: flex;
  flex-direction: row;
  width: 400px;
}
td {
  display: flex;
  justify-content: center;
  text-align: center;
}
.ner {
  width: 350px;
}
.irts {
  width: 50px;
}